@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Montserrat:300,400,700');


$main-font: 'Bitter', serif;
$second-font: 'Montserrat', sans-serif;

// * {
//   box-sizing: border-box;
// }

// body {
//   font-family: $main-font;
//   font-size: 16px;
// }

@keyframes small {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 2rem);
  }
  100% {
    transform: translate(0, 0);
  }  
}

@keyframes big {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -3rem);
  }
  100% {
    transform: translate(0, 0);
  }  
}

.containerp {
  position: relative;
  width: 100vw;
  height: 100vh;
  &:before {
    width: 50%;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    background: transparent;
  }
}

.header {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  padding: 0 2rem;
  .whitetext {
    color: white;
  }
  .pink {
    color: #FF69B4;
  }
  &-nav {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    line-height: 1.2rem;
    i {
      font-size: 1rem;
    }
    div {
      position: relative;
      width: 1.5rem;
      height: 2px;
      background: #493330;
      margin-left: 2rem;
      &:before {
        position: absolute;
        content: '';
        display: block;
        top: -4px;
        right: 0;
        width: 120%;
        height: 2px;
        background: #493330;
      }
      &:after {
        position: absolute;
        content: '';
        display: block;
        bottom: -4px;
        right: 0;
        width: 50%;
        height: 2px;
        background: #493330;
      }      
    }
  }
}

.product {
  position: relative;
  display: flex;
  width: 100%;
  height: 90%;
  z-index: 2;
  padding: 0 2rem;
  &-photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 52%;
    height: 100%;
    img {
      &:first-child {
        width: 34%;
        height: auto;
        margin-top: 10%;
        transform: translate(0, 0);
        animation-name: small;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }
      &:last-child {
        width: 50%;
        height: atuo;
        animation-name: big;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;    
        animation-direction: reverse;
      }
    }
  }
  &-detail {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 100%;
    text-align: center;
    padding: 0 5%;
  }
  &__title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  &__price {
    letter-spacing: 2px;
    font-family: $second-font;
    margin-bottom: 2rem;
  }
  &__subtitle {
    font-family: $second-font;
    font-weight: 300;
    font-size: .75rem;
    color: #B9B8B6;
    margin-bottom: 2rem;
    padding: 0 4rem;
  }
  &__color {
    form {
      display: flex;
      fieldset {
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        label {
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 100%;
          border: 0;
          line-height: 1.6rem;
          i {
            opacity: 0;
            transition: .32s;
          }
        }
        input {
          position: absolute;
          z-index: 3;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
          &:checked + label {
            i {
              opacity: 1;
            }
          }
        }        
        &:first-child {
          margin-right: 1rem;
          label {
            background: #B9B8B6;
            i {
              color: #513F35;
            }
          }
        }
        &:last-child {
          label {
            background: #513F35;
            i {
              color: #B9B8B6;
            }            
          }
        }        
      }
    }
  }
  &__button {
    position: relative;
    overflow: hidden;
    margin-top: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    background: #F1EDE4;
    display: block;
    width: 8rem;
    height: 2rem;
    font-size: .75rem;
    font-family: $second-font;
    color: #513F35;
    transition: .32s;
    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 2rem;
      transition: .32s;
      &:last-child {
        top: -4rem;
        transition-delay: .32s;
        color: #fff;
      }
    }
    &--success {
      background: #00ff7f;
      span {
        &:last-child {
          top: 0;
        }
        &:first-child {
          top: -4rem;
        }
      }
    }
  }
}